<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">        
    <title>Wikipedia Viewer</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{  url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% block main %}{% endblock %}
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </div>
</body>
</html>
